<div id="navbar" class="">&nbsp;</div>
<div id="Heading" class="">
<h1>DEEKSHETHA</h1>
<h4>B.Tech,ECE in VIT</h4>
<button name="checkout" type="submit">Checkout</button></div>
<div id="AboutMe" class="">
<h2>About Me</h2>
<p>I am currently pursuing B.Tech,ECE in VIT.I have finished my intermediates in sri chaitanya techno school in marathalli,bangalore and my schooling in mvm,hosur</p>
<img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" />
<h3>Feature 1</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
<h3>Feature 2</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
<h3>Feature 3</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
</div>
<div id="OurBestProjects" class="">
<h2>Our best projects</h2>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui o</p>
<img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" />
<section><img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" />
<h3>Title of the news</h3>
<p>Temporibus autem quibusdam et aut o</p>
<button name="view-project" type="submit">View Project</button></section>
<section><img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" />
<h3>Title of the news</h3>
<p>Temporibus autem quibusdam et aut o</p>
<button name="view-project" type="submit">View Project</button></section>
<section><img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" />
<h3>Title of the news</h3>
<p>Temporibus autem quibusdam et aut o</p>
<button name="view-project" type="submit">View Project</button></section>
</div>
<div id="MyBestProjects" class="">
<h2>My best projects</h2>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui o</p>
<section>
<h3>Project 1</h3>
<img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" />
<section>
<h3>Project 2</h3>
<img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" />
<section>
<h3>Project 3</h3>
<img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" />
<section>
<h3>Project 4</h3>
<img src="file:///C:/Users/admin/Desktop/DEEKSHETHA/deeks.html" alt="" />
<section>
<h3>Project 5</h3>
<img src="file:///C:/Users/admin/Desktop/DEEKSHETHA/deeks.html" alt="" />
<section>
<h3>Project 6</h3>
<img src="file:///C:/Users/admin/Desktop/DEEKSHETHA/deeks.html" alt="" /></section>
</section>
</section>
</section>
</section>
</section>
</div>
<div id="Testimonials" class="">
<h2>Testimonials</h2>
<img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" />
<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id o</p>
<h3>Anna Deynah</h3>
<h4>Founder at ET Company</h4>
<p>I am a self motivated Person who is ready to jump into the industry to learn new things and contribute for the organisation</p>
</div>
<div id="Blogs" class="">
<h2>Blogs</h2>
<section><img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" /></section>
<section>
<h3>CSS</h3>
<p>Blog</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
<button name="CSS" type="submit">CSS</button></section>
<section>
<h3>HTML</h3>
<p>Blog</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
<button name="HTML" type="submit">HTML</button></section>
<section>
<h3>JAVASCRIPT</h3>
<p>Blog</p>
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
<button name="JAVASCRIPT" type="submit">JAVASCRIPT</button></section>
</div>
<div id="ContactMe" class="">
<h2>Contact Me</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
<section><form action="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" method=""><input name="" size="" type="text" value="Your Name" /> <input name="" size="" type="text" value="Your Email" /><br /> <input name="" size="" type="text" value="Subject" /><br /> <input name="" size="" type="text" value="Message" /><br /> <button name="Send" type="submit">Send</button></form></section>
<section><img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" /><br />
<p>Location:</p>
<br /> <img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" /><br />
<p>Contact:</p>
<img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" /><br />
<p>Email:</p>
</section>
<section><img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" /> <img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" /> <img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" /> <img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" /> <img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" /> <img src="file:///C:/Users/admin/Documents/DEEKSHETHA/deeks.html" alt="" /></section>
</div>
